h1{
    font-family: OCR;
    color: white;
    margin: 0%;
    padding: 10px;
}

.map-info{
    font-family: OCR;
    color: white;
    position: absolute;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-family: OCR;
    padding: 0;
    margin: 0;
  }

  ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  a:link {
    color: #b2ffff;
    text-decoration: none;
  }
  
  a:visited {
    color: #b2ffff;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  a:active {
    color: #b2ffff;
    text-decoration: none;
  }

  P{
    color: #38847E;
    font-family: OCR;
    padding-left: 10px;
  }

  .blink{
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes blink{
    0%{color: #38847E;}
    24%{color: #38847E;}
    25%{color: #08181D;}
    50%{color: #08181D;}
    75%{color: #08181D;}
    76%{color: #38847E;}
    100%{color: #38847E;}
  }

  .css-typing p:nth-child(1) {
    width: 120px; /* manually set width */
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 780px; /* manually set width */
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 620px; /* manually set width */
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(4) {
    width: 620px; /* manually set width */
    opacity: 0;
    -webkit-animation: type4 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type4 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes type4 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type4 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }